            a {
                text-decoration: none;
            }
            
            h1 {
                color: #222222;
                font-size: 28px;
                line-height: 36px;
                font-weight: bold;
            }
            
            h2 {
                color: coral;
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 80px;
            }
            
            .nav {
                color: cornflowerblue;
                font-size: 16px;
                line-height: 20px;
            }
            
            .nav:hover {
                font-weight: bold;
            }
            
            .nav:active {
                font-size: large;
                color: coral;
            }
            
            .text {
                font-family: 'Montserrat Alternates', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #7D7987;
            }