* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 150%;
}

.top { 
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 

    margin: 40px auto;
}
    
.group__container {
    max-width: 1170px;
    margin: 0 auto;
}


.logo {
    color: #000;
    font-size: 21px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo__image {
    margin-right: 14px;
}

.be {
    color: #F25822; 
}

.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 34px;
}

.menu__item {
    color: #000;
}
.menu__active__item{
    color: #F25822;
}

.features {
    display: flex;
    align-items: center;
}
.command__btn {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    
    color: #FFF;
    border-radius: 30px;
    border: none;
    background: #F25822;
    padding: 15px 35px;
}
.nav__btn{
    padding: 12px 27px;
}


.module1 .section {
    margin-top: 40px;
    margin-bottom: 143px;
    margin-right: 64px;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

.module1 .header {
    position: relative;
    margin-top: 60px;
    /* max-width: 522px; */
}

.item {
    max-width: 554px;
}

.header {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
}

.bold60 {
    font-size: 60px;
}

.module1 .ellipse {
    position: absolute;
    top: 73px;
    left: -21px;
    width: 314px; 
    height: 76px;   
    fill: none;
    border-radius: 314px/76px;
    border: #F25822 solid 1px;
}

.module1 .text {
    color: #888;
    font-size: 20px;
    /* max-width: 466px; */
    margin-right: 56px;
    margin-top: 17px;
    margin-bottom: 37px;
}

.module1 .image {
    padding-top: -60px;
}

.regular15 {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
}

.module1 .play {
    display: flex;
    align-items: center;
    gap: 15px;

    color: #AAA;
    font-size: 15px;
}

.module1 .btn__panel {
    display: flex;
    justify-content: flex-start;
    gap: 27px;
}

.module1 .footer {
    padding-top: 97px;
    padding-bottom: 96px;;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.module1 .image1 {
    margin-left: -30px;
}

.module2 {
    background: #FAFAFA;
}

.module2 .section {
    padding-top: 127px;
    padding-bottom: 124px;

    position: relative;
}
.picture {
    position: absolute;
    top: 23px;
    left: 482px;
}


.module2 .header {
    /* width: 409px; */
    padding-right: 105px;
}

.regular16 {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
}

.module2 .text {
    /* width: 515px; */
    margin-top: 20px;
    margin-bottom: 35px;
}
.module2 .description {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
.bold45 {
    color: #000;
    font-size: 45px;
}

.module2 .picture {
    margin-top: -50px;
}

.module3 .section {
    padding-top: 100px;
    padding-bottom: 70px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;

}

.module3 .icon {
    margin-bottom: 25px;
}

.module3 .header {
    color: #000;
    font-size: 24px;
    padding-bottom: 17px;
}
.module3 .text {
    margin-bottom: 25px;
    max-width: 310px;
}
.module3 .link {
    color: #000;
    font-size: 11px;
    line-height: 150%; 
    font-family: 'Gilroy-Bold', sans-serif;
}

.module3 .field {
    padding-left: 29px;
    padding-right: 31px;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.field2 {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);

}
.module4 {
    background: #FAFAFA;
}

.module4 .section {
    padding-top: 92px;
    padding-bottom: 70px;
    background-color: fff;
}

.module4 .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.module4 .header {
    text-align: center;
}

.module4 .text {
    font-family: 'Gilroy-Regular', sans-serif;
    width: 682px;
    margin-top: 19px;
    margin-bottom: 54px;
    text-align: center;
}

.bold24 {
    color: #000;
    font-size: 24px;
}

.module4 .fields {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.module4 .field {
    background-color: #FFF;
    padding-bottom: 50px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.module4 .text__field {
    padding-top: 22px;
    padding-bottom: 39px;
    width: 310px;
    text-align: center;
}
.module4 .image1 {
    margin-top: 15px;
}

.module4 .image {
    margin-bottom: 34px;
}

.group5__container {
    /* border: 1px solid #000; */
    margin-right: calc(50% - 585px);
}

.module5 .text {
    padding-top: 19px;
    padding-bottom: 32px;
}
.module5 .image {
    width: 62.5vw;
    height: 62.5vw;

    margin: -50px -176px -50px -79px;
}
.module5 .item__left {
    max-width: 50vw;
    min-width: 570px;
    overflow: hidden;
}
.module5 .item__right {
    max-width: 570px;
}
.module5 .section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}
.module5 .description {
    padding-top: 107px;
}
.module5 .field {
    max-width: 570px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.module5 .field2 {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);

}
.module5 .field__description {
    max-width: 362px;

    display: flex;
    flex-direction: column;
}
.module5 .icon {
    height: 100px;
    padding: 17px 30px;
}

.module5 .field .header {
    padding-top: 24px;
    padding-bottom: 8px;
}
.bold20 {
    font-size: 20px; 
}

/* @media(max-width: 1169px) {
    .group__container {
        width: 100vw;
        margin: 0 auto;
    }
    
    .header {
        text-align: center;        
    }

    .bold60 {
        font-size: 50px;
    }

    .bold45 {
        font-size: 40px;
    }

    .item {
        width: 500px;
    }

    .content {
        justify-content: center;
    }
    .text {
        text-align: center;
    }
    .image {
    }
    .ellipse {
        display: none;
    }

    .center {
        justify-content: center;
    }
    .module2 {
        display: flex;
    }

    .btn__panel {
        display: flex;
        justify-content: center;
    }
    .picture {
        left: 350px;
    }
    
} */